.menu {
  background-color: white; }

* {
  margin: 0px;
  padding: 0px; }

/* asiganaciones generales para los html */
.divBodyI {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-areas: "headerr" "main" "infoIndex" "footer";
  background-color: white; }

.divBodyP {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-areas: "headerr" "main" "infoProdu" "footer";
  background-color: white; }

.divBodyCon {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: white; }

.divBodySo {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-areas: "headerr" "main" "infoSobre" "footer";
  background-color: white; }

.divBodyCock {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-areas: "headerr" "tituleCocktail" "main" "footer";
  background-color: white; }

header {
  grid-area: headerr;
  position: sticky;
  z-index: 9999;
  top: 0; }

/*Menu */
main {
  overflow: hidden;
  grid-area: main; }

a:link {
  text-decoration: none;
  color: black; }

a:visited {
  text-decoration: none;
  color: black; }

.menu {
  display: grid;
  grid-template-areas: "logo menuLista";
  border-bottom: 3px solid black;
  height: 70px;
  padding-right: 20px;
  padding-left: 15px;
  padding-top: 5px; }
  .menu .checkboton {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none; }
  .menu #check {
    display: none; }
  .menu .logo {
    display: flex;
    justify-content: flex-start; }
  .menu .menuLista {
    display: flex;
    list-style-type: none;
    z-index: 2;
    justify-content: flex-end;
    gap: 70px;
    padding-top: 20px; }
    .menu .menuLista .enlaces {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 15px; }
    .menu .menuLista .enlaces:hover {
      transform: scale(1.2);
      transition: all .2s ease-in-out; }
    .menu .menuLista .active {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 15px;
      text-decoration: underline; }

/*inicio del index */
.imgFondoIndex {
  background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
  color: #2778C0;
  -webkit-text-stroke: 1px white;
  padding: 1.5em;
  font-weight: normal;
  text-align: center;
  font-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  border-bottom: 5px solid black; }

.productos {
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column-gap: 50px;
  grid-template-areas: "tituloindex tituloindex" "producto producto2" "pro1 pro2";
  font-size: 40px;
  background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
  padding: 10px; }
  .productos .tituloIndex {
    display: flex;
    color: #2778C0;
    justify-content: center;
    font-size: 100px;
    grid-area: tituloindex; }
  .productos .producto:hover {
    display: flex;
    justify-content: center;
    grid-area: producto;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: blur(5px); }
  .productos .producto1:hover {
    display: flex;
    justify-content: center;
    grid-area: producto2;
    transition: all .5s ease-in-out;
    filter: blur(5px);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  .productos .pro1 {
    grid-area: pro1; }
  .productos .pro2 {
    grid-area: pro2; }

.infoIndex {
  overflow: hidden;
  grid-area: infoIndex; }
  .infoIndex .cocktails_ {
    margin-bottom: 3em;
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: "titule titule titule" "co1 co2 co3";
    grid-template-rows: 2em;
    grid-column-gap: 50px;
    font-size: 80px;
    padding: 10.3px; }
    .infoIndex .cocktails_ .TituloCocktailsIndex {
      grid-area: titule;
      display: flex;
      justify-content: center;
      font-size: 100px;
      padding-bottom: 20px; }
    .infoIndex .cocktails_ .co1:hover {
      transition: all .5s ease-in-out;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      filter: blur(5px);
      grid-area: co1; }
    .infoIndex .cocktails_ .co2:hover {
      transition: all .5s ease-in-out;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      filter: blur(5px);
      grid-area: co2; }
    .infoIndex .cocktails_ .co3:hover {
      transition: all .5s ease-in-out;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      filter: blur(5px);
      grid-area: co3; }
  .infoIndex .imagenIn {
    width: 100%; }

/*fin del index, comienzo del scss del html de productos */
.gin {
  font-size: 20px; }
  .gin .tituloP {
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    display: flex;
    color: #2778C0;
    -webkit-text-stroke: 1px white;
    justify-content: center;
    padding: 1.5em;
    font-weight: normal;
    text-align: center;
    font-size: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    border-bottom: 5px solid black; }
  .gin .subtituloP {
    background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
    color: #2778C0;
    font-size: 60px;
    padding: 20px;
    text-align: center; }

.fondoPro {
  background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg"); }

.infoProdu {
  padding-top: 20px;
  grid-area: infoProdu;
  background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
  overflow: hidden; }
  .infoProdu .productoS {
    display: grid;
    grid-template-areas: "titulop titulop1" "imagenPro imagenPro1" "gin1 gin2" "titulop2 titulop3" "imagenPro2 imagenPro3" "gin3 gin4";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 50px;
    padding-left: 150px;
    padding-bottom: 70px;
    padding-top: 30px; }
    .infoProdu .productoS .imagenPro {
      display: flex;
      justify-content: center; }
    .infoProdu .productoS .imagenPro1 {
      display: flex;
      justify-content: center; }
    .infoProdu .productoS .imagenPro2 {
      display: flex;
      justify-content: center; }
    .infoProdu .productoS .imagenPro3 {
      display: flex;
      justify-content: center; }
    .infoProdu .productoS .gin1 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 170px;
      padding-top: 15px;
      padding-bottom: 40px;
      font-size: 20px;
      grid-area: gin1; }
    .infoProdu .productoS .gin2 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 170px;
      padding-top: 15px;
      padding-bottom: 40px;
      font-size: 20px;
      grid-area: gin2; }
    .infoProdu .productoS .gin3 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 170px;
      padding-top: 15px;
      padding-bottom: 40px;
      font-size: 20px;
      grid-area: gin3; }
    .infoProdu .productoS .gin4 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 170px;
      padding-top: 15px;
      padding-bottom: 40px;
      font-size: 20px;
      grid-area: gin4; }
    .infoProdu .productoS .titulop {
      grid-area: titulop;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 180px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px; }
    .infoProdu .productoS .titulop1 {
      grid-area: titulop1;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 180px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px; }
    .infoProdu .productoS .titulop2 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 180px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px; }
    .infoProdu .productoS .titulop3 {
      grid-area: titulop3;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 180px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px; }

/* fin de productos, comienzo del scss del  html de cocktails*/
.tituloCocktail {
  background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
  display: flex;
  color: #2778C0;
  -webkit-text-stroke: 1px white;
  justify-content: center;
  padding: 2em;
  font-weight: normal;
  text-align: center;
  font-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  border-bottom: 5px solid black; }

.cocktail {
  background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
  display: grid;
  grid-template-areas: "tituloTragos tituloTragos2" "img1 img2" "p1 p2" "tituloTragos3 tituloTragos4" "img3 img4" " p3 p4";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column-gap: 50px;
  padding-left: 150px;
  padding-bottom: 70px;
  padding-top: 70px; }
  .cocktail .tituloTragos {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px; }
  .cocktail .tituloTragos1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px; }
  .cocktail .tituloTragos2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px; }
  .cocktail .tituloTragos3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px; }
  .cocktail .img1 {
    display: flex;
    justify-content: center; }
  .cocktail .img2 {
    display: flex;
    justify-content: center; }
  .cocktail .img3 {
    display: flex;
    justify-content: center; }
  .cocktail .img4 {
    display: flex;
    justify-content: center; }
  .cocktail .p1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 170px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 20px; }
  .cocktail .p2 {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 170px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 20px; }
  .cocktail .p3 {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 170px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 20px; }
  .cocktail .p4 {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 170px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 20px; }

/*fin de cocktails, inicio de scss del html de sobre nosotros */
.tituloS {
  background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
  display: flex;
  color: #2778C0;
  -webkit-text-stroke: 1px white;
  justify-content: center;
  padding: 1.5em;
  font-weight: normal;
  text-align: center;
  font-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  border-bottom: 5px solid black; }

.subtituloS {
  font-size: 60px;
  padding: 10px;
  margin: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #2778C0; }

.epigrafe {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 100px;
  text-align: center; }

.fondoCon {
  background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.imagenS {
  border-bottom: 5px ridge black;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-bottom: 20px; }
  .imagenS .imageS {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    height: 40%; }

.infoSobre .dondeEncontrarnos .dondeTitulo {
  color: #2778C0;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center; }

.infoSobre .dondeEncontrarnos .dondeSub {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center; }

.infoSobre .dondeEncontrarnos .iframe {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 80px; }

/*fin de sobre nosotros, comienzo del scss del html contacto (ese html se uso con boostrap) */
.button {
  display: flex;
  justify-content: center;
  padding-bottom: 35px; }

/*fin de contacto, comienzo del scss del footer */
footer {
  color: white;
  overflow: hidden;
  background-color: black;
  list-style: none;
  text-align: justify; }

.footer0 {
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  list-style: none;
  text-align: justify;
  grid-area: footer; }

footer nav ul {
  list-style: none; }

.footerGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 32rem 5rem 32rem;
  grid-template-areas: "footerTitulo footerTitulo1 footerTitulo2";
  gap: 5rem; }
  .footerGrid .footerTitulo {
    padding: 1rem;
    padding-right: 10rem;
    grid-area: footerTitulo;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase; }
    .footerGrid .footerTitulo .footerSub {
      padding-top: 1rem; }
    .footerGrid .footerTitulo nav ul {
      list-style: none; }
  .footerGrid .footerTitulo1 {
    padding: 1rem;
    grid-area: footerTitulo1;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase; }
    .footerGrid .footerTitulo1 .footerSub1 {
      padding-top: 1rem; }
      .footerGrid .footerTitulo1 .footerSub1 ul li {
        padding: .1rem; }
  .footerGrid .footerTitulo2 {
    padding: 1rem;
    padding-left: 22rem;
    grid-area: footerTitulo2;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none; }
    .footerGrid .footerTitulo2 .footerSub2 {
      padding-top: 1rem; }
      .footerGrid .footerTitulo2 .footerSub2 ul li {
        padding: .3rem; }

/* comienzo de @media para tablets*/
@media screen and (min-width: 480px) and (max-width: 780px) {
  /*inicio de scss de menu */
  .menu {
    display: grid;
    grid-template-areas: "logo ckeckboton";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 0.1fr;
    grid-column-gap: 1rem;
    height: 70px;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 5px; }
    .menu .checkboton {
      grid-area: ckeckboton;
      display: flex;
      justify-content: flex-end;
      padding-top: 20px; }
    .menu #check:checked ~ .menuLista {
      left: 0; }
    .menu .logo {
      grid-area: logo;
      display: flex;
      justify-content: flex-start; }
    .menu .menuLista {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: white;
      top: 77px;
      left: -100%;
      text-align: center;
      transition: all .5s; }
      .menu .menuLista nav ul li {
        margin: 50px 0;
        line-height: 30px; }
        .menu .menuLista nav ul li nav ul li a {
          font-size: 30px; }
  /*inicio de scss del index */
  .imgFondoIndex {
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    padding: 1.5rem;
    font-weight: normal;
    text-align: center;
    font-size: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .productos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 3rem;
    grid-template-areas: "tituloindex tituloindex" "producto producto1" "pro1 pro2";
    font-size: 1.8rem;
    background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
    background-repeat: none;
    background-size: cover;
    text-align: center;
    padding: 10px; }
    .productos .tituloIndex {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      grid-area: tituloindex; }
    .productos .producto:hover {
      display: flex;
      justify-content: center;
      grid-area: producto;
      transition: all .5s ease-in-out;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      filter: blur(5px); }
    .productos .producto1:hover {
      display: flex;
      justify-content: center;
      grid-area: producto1;
      transition: all .5s ease-in-out;
      filter: blur(5px);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
    .productos .pro1 {
      display: flex;
      justify-content: center;
      grid-area: pro1; }
    .productos .pro2 {
      grid-area: pro2;
      display: flex;
      justify-content: center; }
  .infoIndex {
    overflow: hidden;
    grid-area: infoIndex; }
    .infoIndex .cocktails_ {
      margin-bottom: 4rem;
      display: grid;
      grid-column-gap: 1.2rem;
      grid-template-areas: "titule titule titule" "co1 co2 co3";
      grid-template-rows: 2em;
      grid-column-gap: 50px;
      font-size: 80px;
      padding: 10.3px; }
      .infoIndex .cocktails_ .TituloCocktailsIndex {
        grid-area: titule;
        display: flex;
        justify-content: center;
        font-size: 4.5rem;
        text-transform: uppercase;
        padding-bottom: 1.4rem; }
      .infoIndex .cocktails_ .co1 {
        grid-area: co1; }
      .infoIndex .cocktails_ .co2 {
        grid-area: co2; }
      .infoIndex .cocktails_ .co3 {
        grid-area: co3; }
  .imagenI {
    width: 75%; }
  .imagenIn {
    width: 100%; }
  /*fin del index, comienzo del footer */
  footer {
    color: white;
    overflow: hidden;
    background-color: black;
    list-style: none;
    text-align: justify; }
  .footer0 {
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    text-align: justify;
    grid-area: footer; }
  .footerGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-areas: "footerTitulo footerTitulo1 footerTitulo2";
    gap: 5rem; }
    .footerGrid .footerTitulo {
      padding: 1rem;
      grid-area: footerTitulo;
      text-align: start;
      font-size: 1rem;
      text-transform: uppercase; }
      .footerGrid .footerTitulo .footerSub {
        padding-top: 1rem; }
      .footerGrid .footerTitulo nav ul {
        list-style: none; }
    .footerGrid .footerTitulo1 {
      padding: 1rem;
      grid-area: footerTitulo1;
      text-align: center;
      font-size: 1rem;
      text-transform: uppercase; }
      .footerGrid .footerTitulo1 .footerSub1 {
        padding-top: 1rem; }
    .footerGrid .footerTitulo2 {
      padding: 1rem;
      grid-area: footerTitulo2;
      text-align: end;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none; }
      .footerGrid .footerTitulo2 .footerSub2 {
        padding-top: 2rem; }
  /*fin del footer, comienzo de productos */
  .gin {
    font-size: 20px; }
    .gin .tituloP {
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
      font-weight: normal;
      text-align: center;
      font-size: 3.5rem;
      background-repeat: no-repeat;
      background-size: cover;
      text-transform: uppercase; }
    .gin .subtituloP {
      background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
      color: #2778C0;
      font-size: 60px;
      padding: 20px;
      text-align: center; }
  .infoProdu {
    overflow: hidden; }
    .infoProdu .productoS {
      display: grid;
      grid-template-areas: "titulop" "imagenPro" "gin1" "titulop1" "imagenPro1" "gin2" "titulop2" "imagenPro2" "gin3" "titulop3" "imagenPro3" "gin4";
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr; }
      .infoProdu .productoS .imagenPro {
        display: flex;
        justify-content: center; }
      .infoProdu .productoS .imagenPro1 {
        display: flex;
        justify-content: center; }
      .infoProdu .productoS .imagenPro2 {
        display: flex;
        justify-content: center; }
      .infoProdu .productoS .imagenPro3 {
        display: flex;
        justify-content: center; }
      .infoProdu .productoS .gin1 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 170px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin1; }
      .infoProdu .productoS .gin2 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 170px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin2; }
      .infoProdu .productoS .gin3 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 170px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin3; }
      .infoProdu .productoS .gin4 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 170px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin4; }
      .infoProdu .productoS .titulop {
        grid-area: titulop;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 180px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop1 {
        grid-area: titulop1;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 180px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 180px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop3 {
        grid-area: titulop3;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 180px;
        padding-top: 20px;
        padding-bottom: 20px; }
  /* fin de productos, comienzo de cocktails*/
  .tituloCocktail {
    display: flex;
    justify-content: center;
    padding: 1.3em;
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    font-weight: normal;
    font-size: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .cocktail {
    display: grid;
    grid-template-areas: "tituloTragos"  "img1" "p1" "tituloTragos2"  "img2" "p2" "tituloTragos3"  "img3"  " p3" "tituloTragos4" "img4" "p4";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 1.2rem; }
    .cocktail .tituloTragos {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    .cocktail .tituloTragos1 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    .cocktail .tituloTragos2 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    .cocktail .tituloTragos3 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    .cocktail .img1 {
      display: flex;
      justify-content: center;
      width: 70%; }
    .cocktail .img2 {
      display: flex;
      justify-content: center;
      width: 70%; }
    .cocktail .img3 {
      display: flex;
      justify-content: center;
      width: 70%; }
    .cocktail .img4 {
      display: flex;
      justify-content: center;
      width: 70%; }
    .cocktail .p1 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem; }
    .cocktail .p2 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem; }
    .cocktail .p3 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem; }
    .cocktail .p4 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem; }
  /* fin de cocktails, comienzo de sobre nosotros*/
  .tituloS {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    font-weight: normal;
    text-align: center;
    font-size: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .subtituloS {
    font-size: 2.8rem;
    padding: 0.8rem;
    margin: 3rem;
    text-align: center;
    text-transform: uppercase; }
  .epigrafe {
    font-size: 1.8rem;
    padding: 0.8rem;
    margin-bottom: 6rem;
    text-align: center; }
  .fondoCon {
    background-image: url("../img/vieja-textura-de-madera-para-el-fondo-del-web-46832940.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .imagenS {
    display: flex;
    justify-content: center;
    padding-bottom: 20px; }
    .imagenS .imageS {
      display: flex;
      justify-content: center;
      width: 80%; }
  .infoSobre .dondeEncontrarnos .dondeTitulo {
    font-size: 2.2rem;
    padding-top: 4rem;
    padding-bottom: 1.2rem;
    text-align: center; }
  .infoSobre .dondeEncontrarnos .dondeSub {
    font-size: 1.6rem;
    padding-bottom: 1.2rem;
    text-align: center; }
  .infoSobre .dondeEncontrarnos .iframe {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 80%; } }

/*fin de sobre nosotros, comienza de la @media para mobile */
@media screen and (max-width: 480px) {
  /*comienzo de scss de menu */
  .menu {
    display: grid;
    grid-template-areas: "logo ckeckboton";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 0.1fr;
    grid-column-gap: 1rem;
    height: 70px;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 5px; }
    .menu .checkboton {
      grid-area: ckeckboton;
      display: flex;
      justify-content: flex-end;
      padding-top: 20px; }
    .menu #check:checked ~ .menuLista {
      left: 0; }
    .menu .logo {
      grid-area: logo;
      display: flex;
      justify-content: flex-start; }
    .menu .menuLista {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: white;
      top: 77px;
      left: -100%;
      text-align: center;
      transition: all .5s; }
      .menu .menuLista nav ul li {
        margin: 50px 0;
        line-height: 30px; }
        .menu .menuLista nav ul li nav ul li a {
          font-size: 30px; }
  /* fin de menu, comienzo de scss de index*/
  .imgFondoIndex {
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    padding: 1.5rem;
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .productos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 3rem;
    grid-template-areas: "tituloindex tituloindex" "producto producto1" "pro1 pro2";
    font-size: 1.8rem;
    background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
    background-repeat: none;
    background-size: cover;
    text-align: center;
    padding: 10px; }
    .productos .tituloIndex {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      grid-area: tituloindex; }
    .productos .producto:hover {
      display: flex;
      justify-content: center;
      grid-area: producto;
      transition: all .5s ease-in-out;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      filter: blur(5px); }
    .productos .producto1:hover {
      display: flex;
      justify-content: center;
      grid-area: producto1;
      transition: all .5s ease-in-out;
      filter: blur(5px);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
    .productos .pro1 {
      display: flex;
      justify-content: center;
      grid-area: pro1;
      font-size: 15px; }
    .productos .pro2 {
      grid-area: pro2;
      display: flex;
      justify-content: center;
      font-size: 15px; }
  .infoIndex {
    overflow: hidden;
    grid-area: infoIndex; }
    .infoIndex .cocktails_ {
      margin-bottom: 4rem;
      display: grid;
      grid-column-gap: 1.2rem;
      grid-template-areas: "titule titule titule" "co1 co2 co3";
      grid-template-rows: 2em;
      grid-column-gap: 20px;
      font-size: 3rem;
      padding: 10.3px; }
      .infoIndex .cocktails_ .TituloCocktailsIndex {
        grid-area: titule;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 1.4rem; }
      .infoIndex .cocktails_ .co1 {
        grid-area: co1; }
      .infoIndex .cocktails_ .co2 {
        grid-area: co2; }
      .infoIndex .cocktails_ .co3 {
        grid-area: co3; }
  .imagenI {
    width: 75%; }
  .imagenIn {
    width: 100%; }
  /*fin del index, comienzo del footer */
  footer {
    color: white;
    overflow: hidden;
    background-color: black;
    list-style: none;
    text-align: justify; }
  .footer0 {
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    text-align: justify;
    grid-area: footer; }
  .footerGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-areas: "footerTitulo footerTitulo1 footerTitulo2";
    gap: 2rem; }
    .footerGrid .footerTitulo {
      padding: 1rem;
      grid-area: footerTitulo;
      text-align: start;
      font-size: .6rem;
      text-transform: uppercase; }
      .footerGrid .footerTitulo nav ul {
        list-style: none; }
    .footerGrid .footerTitulo1 {
      padding: 1rem;
      grid-area: footerTitulo1;
      text-align: center;
      font-size: .6rem;
      text-transform: uppercase; }
    .footerGrid .footerTitulo2 {
      padding: 1rem;
      grid-area: footerTitulo2;
      text-align: end;
      font-size: .6rem;
      text-transform: uppercase;
      text-decoration: none; }
  /* fin de footer, comienzo de productos*/
  .gin {
    font-size: 20px; }
    .gin .tituloP {
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
      font-weight: normal;
      text-align: center;
      font-size: 2rem;
      background-repeat: no-repeat;
      background-size: cover;
      text-transform: uppercase; }
    .gin .subtituloP {
      background-image: url("../img/modelos-y-fondos-blancos-del-muro-de-cemento-109184626.jpg");
      color: #2778C0;
      font-size: 40px;
      padding: 20px;
      text-align: center; }
  .infoProdu {
    overflow: hidden; }
    .infoProdu .productoS {
      padding-right: 60px;
      display: grid;
      grid-template-areas: "titulop" "imagenPro" "gin1" "titulop1" "imagenPro1" "gin2" "titulop2" "imagenPro2" "gin3" "titulop3" "imagenPro3" "gin4";
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr; }
      .infoProdu .productoS .imagenPro {
        display: flex;
        justify-content: center;
        width: 80%; }
      .infoProdu .productoS .imagenPro1 {
        display: flex;
        justify-content: center;
        width: 80%; }
      .infoProdu .productoS .imagenPro2 {
        display: flex;
        justify-content: center;
        width: 80%; }
      .infoProdu .productoS .imagenPro3 {
        display: flex;
        justify-content: center;
        width: 80%; }
      .infoProdu .productoS .gin1 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 60px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin1; }
      .infoProdu .productoS .gin2 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 60px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin2; }
      .infoProdu .productoS .gin3 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 60px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin3; }
      .infoProdu .productoS .gin4 {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-right: 60px;
        padding-top: 15px;
        padding-bottom: 40px;
        grid-area: gin4; }
      .infoProdu .productoS .titulop {
        grid-area: titulop;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop1 {
        grid-area: titulop1;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px; }
      .infoProdu .productoS .titulop3 {
        grid-area: titulop3;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px; }
  /*fin de productos, inicio de cocktails */
  .tituloCocktail {
    display: flex;
    justify-content: center;
    padding: 1,5rem;
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .cocktail {
    display: grid;
    grid-template-areas: "tituloTragos"  "img1" "p1" "tituloTragos2"  "img2" "p2" "tituloTragos3"  "img3"  " p3" "tituloTragos4" "img4" "p4";
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 1.2rem; }
    .cocktail .tituloTragos {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      grid-area: tituloTragos; }
    .cocktail .tituloTragos1 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      grid-area: tituloTragos2; }
    .cocktail .tituloTragos2 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      grid-area: tituloTragos3; }
    .cocktail .tituloTragos3 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-right: 4rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      grid-area: tituloTragos4; }
    .cocktail .img1 {
      display: flex;
      justify-content: center;
      width: 70%;
      grid-area: img1; }
    .cocktail .img2 {
      display: flex;
      justify-content: center;
      width: 70%;
      grid-area: img2; }
    .cocktail .img3 {
      display: flex;
      justify-content: center;
      width: 70%;
      grid-area: img3; }
    .cocktail .img4 {
      display: flex;
      justify-content: center;
      width: 70%;
      grid-area: img4; }
    .cocktail .p1 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem;
      grid-area: p1; }
    .cocktail .p2 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem;
      grid-area: p2; }
    .cocktail .p3 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem;
      grid-area: p3; }
    .cocktail .p4 {
      display: flex;
      justify-content: center;
      text-align: justify;
      padding-right: 4rem;
      padding-top: 1rem;
      padding-bottom: 2.2rem;
      grid-area: p4; }
  /* fin de cocktails, inicio de sobre nosotros*/
  .tituloS {
    display: flex;
    justify-content: center;
    padding: 1,5rem;
    background-image: url("../img/271896118_122794553585349_4060025395955892943_n.jpg");
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase; }
  .subtituloS {
    font-size: 2rem;
    padding: 0.8rem;
    margin: 3rem;
    text-align: center;
    text-transform: uppercase; }
  .epigrafe {
    font-size: 1.4rem;
    padding: 0.8rem;
    margin-bottom: 6rem;
    text-align: center; }
  .fondoCon {
    background-image: url("../img/vieja-textura-de-madera-para-el-fondo-del-web-46832940.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .imagenS {
    display: flex;
    justify-content: center;
    padding-bottom: 20px; }
    .imagenS .imageS {
      display: flex;
      justify-content: center;
      width: 80%; }
  .infoSobre .dondeEncontrarnos .dondeTitulo {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    text-align: center; }
  .infoSobre .dondeEncontrarnos .dondeSub {
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    text-align: center; }
  .infoSobre .dondeEncontrarnos .iframe {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 80%; } }

/*fin de sobre nosotros y del scsss */
