* {
  margin: 0px;
  padding: 0px; }

.divBody {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "info" "footer";
  background-color: white; }

header {
  overflow: hidden;
  grid-area: header; }
  header nav {
    top: 0;
    overflow: hidden;
    text-decoration: none; }
    header nav ul li {
      transform: scale(1.2);
      transition: all .2s ease-in-out; }

main {
  overflow: hidden;
  grid-area: main; }

.menu {
  background-color: #0a0000;
  padding: 30px;
  top: 0px;
  z-index: 2;
  color: white;
  position: sticky; }
  .menu .menulista {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 70px;
    letter-spacing: 0.1em;
    font-size: 20px;
    text-decoration: none; }

.imgFondoIndex {
  padding: 1.5em;
  background-image: url("../img/271237891_901745523822787_156612221471523007_n.jpg");
  font-weight: normal;
  text-align: center;
  font-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase; }

.productos {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column-gap: 50px;
  grid-template-areas: "tituloindex tituloindex" "producto producto2" "pro1 pro2";
  font-size: 40px;
  background-image: url("../img/b89ebed7f9964efbed1010c2447a7ed2.jpg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
  padding: 10px; }
  .productos .tituloIndex {
    display: flex;
    justify-content: center;
    font-size: 100px;
    grid-area: tituloindex; }
  .productos .producto:hover {
    display: flex;
    justify-content: center;
    grid-area: producto;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: blur(5px); }
  .productos .producto1:hover {
    display: flex;
    justify-content: center;
    grid-area: producto2;
    transition: all .5s ease-in-out;
    filter: blur(5px);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  .productos .pro1 {
    display: flex;
    justify-content: end;
    grid-area: pro1; }
  .productos .pro2 {
    grid-area: pro2; }

.info {
  overflow: hidden;
  grid-area: info; }
  .info .cocktails_ {
    margin-bottom: 4em;
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: "titule titule titule" "co1 co2 co3";
    grid-template-rows: 2em;
    font-size: 60px;
    text-align: center;
    padding: 10.3px; }
  .info .tituloCocktailsIndex {
    grid-area: titule;
    display: flex;
    justify-content: center;
    font-size: 100px;
    text-transform: uppercase; }
  .info .co1:hover {
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: blur(5px);
    grid-area: co1; }
  .info .co2:hover {
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: blur(5px);
    grid-area: co2; }
  .info .co3:hover {
    transition: all .5s ease-in-out;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: blur(5px);
    grid-area: co3; }

footer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: gray;
  list-style: none;
  text-align: justify;
  grid-area: footer; }

.footerGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-areas: "footerTitulo footerTitulo1 footerTitulo2";
  gap: 15rem; }
  .footerGrid .footerTitulo {
    padding: 10px;
    grid-area: footerTitulo;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase; }
  .footerGrid .footerTitulo1 {
    padding: 10px;
    grid-area: footerTitulo1;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase; }
  .footerGrid .footerTitulo2 {
    padding: 10px;
    grid-area: footerTitulo2;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase; }
